{% extends 'error.html.twig' %}

{% set title="Error 404 - Page not found" %}

{% block body %}
    <div class="content">
        <h2>Error 404</h2>
        <span>Page not found.</span>
    </div>
{% endblock %}